body {
  margin: 0 auto;
  box-sizing: border-box;
  overflow-x: hidden;
}
a {
  text-decoration: none;
}

.section1 {
  width: 100%;
  margin: 0 auto;
}
.section1-1 {
  width: 100%;
  margin: 0 auto;
  top: 0%;
  left: 0%;
}
.headline {
  width: 100%;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  gap: 24px;
  background-color: rgba(245, 245, 247, 0.8);
  margin: 0 auto;
  box-sizing: border-box;
  z-index: 6;
  margin-top: 0;
}
.headlinetext {
  color: #000;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 60px;
  margin: 0;
  text-align: center;
  max-height: 60px;
  flex-shrink: 0;
  display: flex;
  gap: 24px;
}
.appleicon {
  width: 14px;
  height: 44px;
  flex-shrink: 0;
  padding: 0 8px;
}
.smallicon {
  width: 14px;
  height: 44px;
  flex-shrink: 0;
  padding: 0 8px;
}
.underheadline {
  padding: 16px 0;
  justify-content: center;
  align-items: center;
  height: 20px;
  padding: 16px 0;
  width: 100%;
  text-align: center;
}
.textpart {
  color: #1d1d1f;
  text-align: center;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  width: 100%;
  text-align: center;
  margin: 0;
}
.menu {
  width: 14px;
  height: 14px;
  padding: 15px;
  display: none;
}
.smallwidth {
  gap: 18px;
  height: 44px;
  width: 84px;
  display: flex;
  justify-content: center;
  vertical-align: middle;
}
.newicon {
  display: none;
  width: 14px;
  height: 44px;
  flex-shrink: 0;
  padding: 15px;
}
.sec1 {
  background-image: url(./img/background1.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 692px;
  justify-content: center;
  padding-top: 55px;
  display: flex;
}
.ip16bigtext {
  color: #f5f5f7;
  text-align: center;
  font-family: Inter;
  font-size: 52px;
  font-style: normal;
  font-weight: 600;
  line-height: 60px;
  height: 60px;
}
.undertext {
  color: #f5f5f7;
  text-align: center;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  margin: 0;
  padding-bottom: 20px;
}
.undertext2 {
  color: #f5f5f7;
  text-align: center;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  margin: 0;
  padding-bottom: 20px;
}
.textpartonphoto {
  width: 405px;
  height: 172px;
  text-align: center;
}
.learnandbuy {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 405px;
  height: 44px;
}
.learn {
  padding: 12px 20px;
  justify-content: center;
  align-items: center;
  border-radius: 999px;
  background-color: #0071e3;
  margin: 0;
  color: white;
  font-family: Inter;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  line-height: 20px;
  align-content: center;
}
.learn2 {
  padding: 12px 20px;
  justify-content: center;
  align-items: center;
  border-radius: 999px;
  background-color: #fff;
  margin: 0;
  color: black;
  font-family: Inter;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  line-height: 20px;
  align-content: center;
}
.buy2 {
  margin: 0;
  border: 1px solid #fff;
  padding: 12px 20px;
  align-content: center;
  justify-content: center;
  border-radius: 999px;
  color: #fff;
  font-family: Inter;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}
.buy {
  margin: 0;
  border: 1px solid #2997ff;
  padding: 12px 20px;
  align-content: center;
  justify-content: center;
  border-radius: 999px;
  color: #2997ff;
  font-family: Inter;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}
.sec2 {
  margin-top: 12px;
  background-image: url(./img/background2.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 692px;
  justify-content: center;
  padding-top: 55px;
  display: flex;
}
.sec3 {
  margin-top: 12px;
  background-image: url(./img/background3.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 692px;
  justify-content: center;
  align-items: end;
  padding-bottom: 82px;
  display: flex;
}
.hiddensec3 {
  margin-top: 12px;
  background-image: url(./img/smallbackground3.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 692px;
  justify-content: center;
  padding-top: 55px;
  display: none;
}
.sec4-1 {
  margin-top: 12px;
  background-image: url(./img/smallbackground3.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 692px;
  justify-content: center;
  padding-top: 55px;
  display: flex;
}
.sec4-2 {
  margin-top: 12px;
  background-image: url(./img/sec4-2.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 692px;
  justify-content: center;
  padding-bottom: 55px;
  align-items: end;
  display: flex;
}
.sec4-3 {
  margin-top: 12px;
  background-image: url(./img/sec4-3.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 692px;
  justify-content: center;
  padding-top: 55px;
  display: flex;
}
.sec4-4 {
  margin-top: 12px;
  background-image: url(./img/sec4-4.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 692px;
  justify-content: center;
  padding-top: 55px;
  display: flex;
}
.sec4-5 {
  margin-top: 12px;
  background-image: url(./img/sec4-5.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 692px;
  justify-content: center;
  padding-top: 55px;
  display: flex;
}
.sec4-6 {
  margin-top: 12px;
  background-image: url(./img/sec4-6.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 692px;
  justify-content: center;
  padding-top: 55px;
  display: flex;
}
.applewatch {
  color: #000;
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: center;
  margin: 0;
  display: flex;
  justify-content: center;
  align-content: end;
  gap: 8px;
}
.series10 {
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2px;
  margin: 0;
}
.leftside {
  width: 50%;
  height: 1920px;
}
.rightside {
  width: 50%;
  height: 1920px;
}
.section2 {
  width: 100%;
  height: 2300px;
  padding: 12px;
  display: flex;
  gap: 12px;
  justify-content: space-between;
  position: relative;
  box-sizing: border-box;
}
.scroll-all {
  padding: 0 5px;
  width: 100%;
  height: 668px;
  display: flex;
  gap: 15px;
  border: 0.5px solid rgba(128, 128, 128, 0);
  overflow-x: scroll;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  box-sizing: border-box;
  scrollbar-gutter: stable;
}
.movied {
  min-width: 1250px;
  height: 668px;
  scroll-snap-align: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.a {
  background-image: url(./img/napoleon.jpg);
}
.b {
  background-image: url(./img/bad-monkey.jpg);
}
.c {
  background-image: url(./img/lady-in-the-lake.jpg);
}
.d {
  background-image: url(./img/season-pass.jpg);
}
.e {
  background-image: url(./img/pachinko.jpg);
}
.f {
  background-image: url(./img/pressumed-innocent.jpg);
}
.g {
  background-image: url(./img/k-pop-idols.jpg);
}
.h {
  background-image: url(./img/instigators.jpg);
}
.i {
  background-image: url(./img/baseball.jpg);
}

.circle {
  width: 8px;
  height: 8px;
  border-radius: 100%;
  background-color: gray;
}
.circle:hover {
  background-color: black;
}
.circlesection {
  gap: 46px;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 30px;
  align-content: center;
  width: 100%;
  height: 8px;
  display: flex;
}
.section3 {
  width: 100%;
  height: 292px;
}
.scroll-area {
  display: flex;
  border: 5px solid rgba(0, 0, 0, 0);
  overflow: hidden;
  width: 100% !important;
}

.scroll-track {
  display: flex;
  gap: 24px;
  animation: s 30s linear infinite;
}
.scroll-track:hover {
  animation-play-state: paused;
}

@keyframes s {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.moviesec3 {
  min-width: 417px;
  height: 236px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.flex-center3 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.lastpart {
  width: 100%;
  padding: 22px 22px;
  display: flex;
  justify-content: flex-end;
  box-sizing: border-box;
}
.ball {
  width: 24px;
  height: 24px;
  border-radius: 100%;
  text-align: center;
  align-content: center;
  background-color: #d2d2d7;
}
.insidetheball {
  margin: 0;
  width: 12px;
  height: 12px;
}
@media (max-width: 768px) {
  body {
    margin: 0;
  }
  .moviesec3 {
    min-width: 286px;
    height: 161px;
  }
  .section1 {
    width: 100%;
    box-sizing: border-box;
  }
  .section2 {
    width: 100%;
    box-sizing: border-box;
  }
  .menu {
    display: block;
  }
  .smallicon {
    display: block;
    width: 14px;
    height: 44px;
    flex-shrink: 0;
    padding: 15px;
  }
  .headline {
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
    top: 0%;
    left: 0%;
    height: 44px;
    box-sizing: border-box;
  }
  .section1-1 {
    width: 100%;
    margin: 0 auto;
  }
  .headlinetext {
    display: none;
  }
  .smallwidth {
    gap: 0;
    display: block;
    display: flex;
    align-items: center;
    width: 132px;
  }
  .underheadline {
    display: flex;
    width: 100%;
    box-sizing: border-box;
    padding: 16px 10px;
    flex-direction: column;
    align-items: center;
    margin: 12px 0;
    height: 16px;
  }
  .textpart {
    width: 444px;
  }
  .textpartonphoto {
    top: 58px;
    width: 405px;
    max-width: 405px;
  }
  .ip16bigtext {
    font-size: 42px;
  }
  .undertext {
    font-size: 22px;
    width: 100%;
  }
  .sec1 {
    background-image: url(./img/smallbackground1.jpg) !important;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 650px;
  }
  .sec2 {
    background-image: url(./img/smallbackground2.jpg) !important;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 650px;
  }
  .sec3 {
    display: none;
  }
  .hiddensec3 {
    display: none;
  }
  .leftside {
    flex: 1;
    box-sizing: border-box;
  }
  .rightside {
    flex: 1;
    box-sizing: border-box;
  }
  .sec4-1 {
    width: 100%;
    margin: 0;
  }
  .sec4-3 {
    margin: 0;
    width: 100%;
    background-image: url(./img/applewatch2.jpg);
  }
  .sec4-2 {
    margin: 0;
    width: 100%;
  }
  .sec4-4 {
    margin: 0;
    width: 100%;
  }
  .sec4-5 {
    margin: 0;
    width: 100%;
  }
  .sec4-6 {
    margin: 0;
    width: 100%;
  }
  .applewatch {
    font-size: 28px;
  }
  .undertext2 {
    font-size: 18px;
    width: 100%;
  }
  .applewatch {
    width: 100%;
  }
  .textpartonphoto {
    width: 100%;
  }
  .learnandbuy {
    width: 100%;
  }
  .movied {
    min-width: 689px;
    height: 368px;
  }
  .scroll-all {
    height: auto;
    width: 100%;
  }
}
@media (max-width: 390px) {
  body {
    display: flex;
    flex-direction: column;
  }
  .section2 {
    flex-direction: column;
    box-sizing: border-box;
    padding: 12px 0 12px 0;
    gap: 0;
    height: auto;
  }
  .headline {
    height: 44px;
    top: 0;
    left: 0;
    width: 100%;
  }
  .section1 {
    width: 100%;
    box-sizing: border-box;
  }
  .hiddensec3 {
    display: block;
  }
  .ip16bigtext {
    font-size: 30px;
    line-height: 36px;
    height: 36px;
    width: 100%;
  }
  .sec1 {
    background-image: url(./img/background1mobile.jpg) !important;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
    align-items: end;
    padding-bottom: 36px;
  }
  .sec2 {
    background-image: url(./img/background2mobile.jpg) !important;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
    padding-top: 24px;
  }
  .sec4-1 {
    display: none;
  }
  .underheadline {
    max-height: 73px;
    width: 100%;
    text-align: center;
    padding: 16px 0;
  }
  .textpart {
    width: 100%;
    font-size: 14px;
    height: auto;
  }
  .leftside {
    width: 100%;
    box-sizing: border-box;
    height: auto;
  }
  .rightside {
    width: 100%;
    box-sizing: border-box;
    height: auto;
  }
  .undertext {
    width: 100%;
    font-size: 18px;
  }
  .sec4-3 {
    margin: 0;
    width: 100%;
    background-image: url(img/applewatch2.jpg);
  }
  .sec4-2 {
    margin: 0;
    width: 100%;
  }
  .sec4-4 {
    margin: 0;
    width: 100%;
  }
  .sec4-5 {
    margin: 0;
    width: 100%;
  }
  .sec4-6 {
    margin: 0;
    width: 100%;
  }
  .series10 {
    width: 100%;
  }
  .applewatch {
    width: 100%;
  }
  .textpartonphoto {
    width: 100%;
  }
  .learnandbuy {
    width: 100%;
  }
  .movied {
    min-width: 274px;
    min-height: 495px;
  }
  .scroll-all {
    margin-top: 0;
  }
  .a {
    background-image: url(./img/mobilemovie.jpg);
  }
  .b {
    background-image: url(./img/mobilemovie2.jpg);
  }
  .c {
    background-image: url(./img/mobilemovie3.jpg);
  }
  .d {
    background-image: url(./img/mobilemovie4.jpg);
  }
  .e {
    background-image: url(./img/mobilemovie5.jpg);
  }
  .f {
    background-image: url(./img/mobilemovie6.jpg);
  }
  .g {
    background-image: url(./img/mobilemovie7.jpg);
  }
  .h {
    background-image: url(./img/mobilemovie8.jpg);
  }
  .i {
    background-image: url(./img/mobilemovie9.jpg);
  }
  .circlesection {
    gap: 27px;
  }
  .moviesec3 {
    min-width: 238px;
    height: 134px;
  }
}
